.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h2 {
        font-size: 30px;
        font-weight: 700;
        color: black;
    }
}