.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        margin-bottom: 15px;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        color: black;

        @media (max-width: 768px) {
            font-size: 22px;
        }
    }
}