.item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;

    @media (max-width: 433px) {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 5px;
    }
}

.empty {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    @media (max-width: 768px) {
        height: 50vh;
    }
}

.col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: 32px;
    margin: 50px auto;
}