.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: rgb(198 255 191 / 80%);
    padding: 10px 0;
    margin-bottom: 15px;

    @media (max-width: 768px) {
        margin-bottom: 10px;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    @media (max-width: 768px) {
        gap: 10px;
    }

    @media (max-width: 500px) {
        gap: 8px;
    }
}

.logo {
    color: #3498db;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #a2b5c1;
}

.img {
    font-size: 32px;
}

.block {
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;

    @media (max-width: 500px) {
        gap: 2px;
    }

    svg {
        width: 20px;
        height: 20px;
        color: #3498db;
    }
}

.block::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3498db;
    transition: width 0.3s ease;
}

.block:hover {
    color: #3498db;
    opacity: 0.8;
}

.block:hover::after {
    width: 100%;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}