@use "../../scss/config.scss" as *;

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: $color-red;
    border-radius: 50%;
    opacity: 0.7;
    margin: -25px 0 0 -6px;

    @media (max-width: 768px) {
        width: 20px;
        height: 20px;
    }
}

.item {
    font-size: 14px;
    line-height: 1.5;
    color: #fff;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}