.item {

    input {
        width: 250px;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        padding: 5px 10px;
        margin-right: 5px;


        @media (max-width: 334px) {
            width: 73%;
            margin-right: 3px;
        }
    }

    button {
        background: #9DD458;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
        padding: 5px 10px;
    }
}